<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @product.category %>
</p>

<%# if can? :edit, @product %>
	<%#= link_to 'Edit', edit_product_path(@product) %> |
<%# end %>

<h2>  <%= link_to 'Back', products_path %> </h2>

<% if can? :like, Product %>
	<%= render partial: "likes/action" %>
<% end %>


<% if can? :create, Review %>
	<%= render partial: 'reviews/form' %>
<% end %>

<h2>Reviews de los Productos</h2>

<%= render partial: 'reviews/review', collection: @reviews %>